*{
	padding: 0px;
	margin: 0px;
}
main{
	padding: 60px 40px 0px;
	background-color: grey;
}
aside{
	padding: 50px 20px 0px;
	background-color: white;
}
.fix::after{
	content:"";
	display: block;
	clear: both;
}
.content-left{
	float: left;
	width:25%;
	border-right: 1px solid grey;
	padding: 10px;
}
.content-left h2, .content-left p{
	padding: 10px;
}
.content-right{
	float: right;
	width: 70%;	
}
.content-right-top-right{
	padding-top: 50px;
}
.content-right-top-right p, .content-right-top-right h4{
	padding: 10px;
}
.content-right-top-left p, .content-right-top-left h4{
	padding: 10px;
}
.top-pro{
	padding: 10px 10px 10px;
}
.top-seam{
	padding: 10px 10px 10px;
}
.content-right-top-left, .content-right-top-right{
	float: left;
	width: 50%;  
}
.exp{
	padding: 20px 20px 10px;
}
.content-right-down{
	float: left;
	width: 100%;
	padding: 20px;
	border-top: 1px solid grey;
}
.content-right-down h3{
	padding-top: 20px;
	padding-bottom: 20px;
}
progress{
	width: 80%;
	height: 20px;
}
